body {
  background-color: gray;
  font-family: arial;
  font-size: large;
}

button {
  width: 80px;
  height: 30px;
  font-weight: bold;
}
.game {
  background-color: green;
  margin: auto;
  padding: 5px;
  height: 300px;
  width: 900px;
}

#title {
  font-size: 25px;
  font-weight: bold;
  position: relative;
  text-align: middle;
  width: 100%;
  margin:auto;
}

#title1, #title2, #title3 {
  position: relative;
  float: left;
  margin: 5px;
}

#title2 {
  display: none;
}

#text7 {
  margin-top: 12px;
  font-size: 40px;
}

#gametext {
  clear: left;
}

#clickcard {
  position: absolute;
  font-size: 16px;
  top: 295px;
  left: 1150px;
}

@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  float:right;
  margin: 25px 30px 30px 10px;
  -webkit-transform: rotate(7deg);
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
